.additional-products {
  max-width: 1440px;
}

.additional-products__container {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: flex-start;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.additional-products__title {
  font-family: $oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: $black;
  margin: 0;
  padding-top: 28px;
  padding-left: 6%;
  padding-bottom: 34px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-left: 8.6%;
    padding-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 109px;
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      width: 3.71vw;
      height: 3px;
      top: 50px;
      left: 0;
      background-color: $green;
    }

    @media (min-width: $desktop-width) {
      width: 70px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 42px;
    right: 0;
    width: 16.57vw;
    height: 3px;
    background-color: $green;

    @media (min-width: $tablet-width) {
      width: 42.57vw;
      top: 50px;
    }

    @media (min-width: $desktop-width) {
      width: 957px;
      left: 483px;
    }
  }
}

.additional-products__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 39px;
}

.additional-products__list-item {
  width: 87.5vw;
  padding-bottom: 17px;
  border-top: 1px solid $border-gray;

  &:last-child {
    border-bottom: 1px solid $border-gray;
  }

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: 92.19vw;
    padding-top: 26px;
    padding-bottom: 26px;
    border-left: 1px solid $border-gray;
    border-right: 1px solid $border-gray;
  }

  @media (min-width: $desktop-width) {
    width: 62vw;
    max-width: 900px;
    border-left: none;
    border-right: none;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.additional-products__offer {
  display: flex;
  width: 280px;
  max-width: 1440px;
  min-height: 246px;
  padding-bottom: 43px;
  margin: 0 auto;
  margin-bottom: 35px;
  position: relative;
  background-image: url("../img/gift-photo-mobile@1x.jpg");

  &::after {
    content: "";
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 56px;
    height: 61px;
    background-image: url("../img/icon-gift.svg");

    @media (min-width: $tablet-width) {
      left: 91px;
      top: 50%;
      transform: translate(0, -49%);
    }

    @media (min-width: $desktop-width) {
      top: 65px;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 280px;
  }

  @media (min-width: $tablet-width) {
    width: 583px;
    min-height: 131px;
    padding-right: 125px;
    padding-bottom: 69px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
    min-height: 246px;
    padding: 0;
    padding-bottom: 43px;
    margin: 0;
    margin-left: 82px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 245px;
    }
  }
}

.additional-products__offer-description {
  font-family: $arial;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-align: center;
  margin: auto auto 0 auto;
  width: 50.32vw;

  @media (min-width: $tablet-width) {
    width: 161px;
    margin: auto 0 0 auto;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    margin: auto auto 0 auto;
  }
}
