.button {
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  width: 87.5vw;
  background-color: $green;
  border: none;

  &--order {
    margin-top: -5px;
    padding-top: 10px;
    padding-bottom: 10px;

    @media (min-width: $tablet-width) {
      width: 32.43vw;
    }

    @media (min-width: $desktop-width) {
      width: 169px;
      cursor: pointer;

      &:hover {
        background-color: $green-hover;
      }

      &:active {
        color: rgba(255, 255, 255, 0.3);
      }
    }
  }

  &--additional-order {
    padding-top: 10px;
    padding-bottom: 10px;

    @media (min-width: $tablet-width) {
      width: 82.43vw;
      padding-bottom: 11px;
    }

    @media (min-width: $desktop-width) {
      width: 245px;
      cursor: pointer;

      &:hover {
        background-color: $green-hover;
      }

      &:active {
        color: rgba(255, 255, 255, 0.3);
      }
    }
  }

  &--show-more {
    color: $greyish;
    background-color: $grey;
    padding-top: 11px;
    padding-bottom: 9px;

    @media (min-width: $tablet-width) {
      width: 32.43vw;
      padding-bottom: 8px;
      margin-top: auto;
    }

    @media (min-width: $desktop-width) {
      width: 169px;
      cursor: pointer;

      &:hover {
        background-color: $grey-hover;
      }

      &:active {
        color: rgba(68, 68, 68, 0.3);
      }
    }
  }

  &--form {
    margin-left: 6.1%;
    padding-top: 11px;
    padding-bottom: 9px;
    margin-top: 14px;

    @media (min-width: $tablet-width) {
      width: 283px;
      margin-left: 1px;
      font-size: 20px;
      line-height: 20px;
      padding-top: 16px;
      padding-bottom: 16px;
      margin-top: 5px;
    }

    @media (min-width: $desktop-width) {
      width: 568px;
      margin-left: 40px;

      &:hover {
        background-color: $green-hover;
      }

      &:active {
        color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}
