.catalog__wrapper {
  max-width: $desktop-width;

  @media (min-width: $tablet-width) {
    margin-top: 165px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    margin-top: 22px;
    margin-bottom: 8px;
  }
}

.catalog__list {
  @include list-reset;
  font-family: $oswald;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    li:nth-child(7) {
      padding-bottom: 39px;
    }
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.catalog__list-item {
  border-bottom: 1px solid $border-gray;

  &:first-child {
    border-top: 1px solid $border-gray;

    @media (min-width: $tablet-width) {
      border-top: none;
    }
  }

  @media (min-width: $tablet-width) {
    min-width: 42.19vw;
    padding-bottom: 140px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
    padding-bottom: 0;
    padding-top: 143px;
  }
}

.catalog__show-more {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 27px;
  padding-bottom: 24px;
  border-bottom: 1px solid $border-gray;

  @media (min-width: $tablet-width) {
    min-width: 42.19vw;
    min-height: 363px;
    padding-bottom: 40px;
    align-self: flex-start;
    border: 1px solid $border-gray;
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
    margin-top: 143px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0.2;
    width: 31px;
    height: 31px;
    background-image: url("../img/icon-plus-mobile.svg");

    @media (min-width: $tablet-width) {
      width: 61px;
      height: 61px;
      background-image: url("../img/icon-plus.svg");
      top: 55px;
    }
  }
}

.catalog__show-more-title {
  font-size: 16px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;
  margin: 0;
  padding-top: 52px;
  padding-bottom: 8px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    width: 17.58vw;
    text-align: center;
    padding-bottom: 29px;
    padding-top: 136px;
  }

  @media (min-width: $desktop-width) {
    width: 135px;
  }
}

.catalog__show-more-description {
  font-family: $arial;
  font-size: 12px;
  line-height: 16px;
  color: $greyish;
  margin: 0;
  padding-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    text-align: center;
    width: 22.14vw;
    padding-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
  }
}
