.copyright__link {
  font-family: $arial;
  font-size: 16px;
  line-height: 16px;
  color: $greyish;
  display: flex;
  align-items: center;
  margin-top: 21px;
  margin-left: 6%;
  margin-right: 6%;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 163px;
  }

  @media (min-width: $desktop-width) {
    &:hover .copyright__link-image {
      fill: $green;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.copyright__link-image {
  transform: scale(1.5);
  margin-left: auto;
  fill: $greyish-two;
}
