.form {
  max-width: 1440px;

  @media (min-width: $tablet-width) {
    margin-top: 31px;
    margin-bottom: 62px;
  }
}

.form__description {
  font-family: $oswald;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;
  width: 70.63vw;
  margin: 0;
  padding-bottom: 36px;
  padding-left: 6%;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 42.32vw;
    padding-left: 9.2%;
    padding-bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    width: 325px;
  }
}

.form__label {
  font-family: $oswald;
  font-size: 16px;
  line-height: 18px;
  color: $black-two;
  text-transform: uppercase;
  padding-right: 15px;
  white-space: nowrap;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  &--weight {
    @media (min-width: $tablet-width) {
      padding-right: 19px;
    }
  }

  &--radio {
    position: relative;
    padding-left: 46px;
    padding-top: 6px;

    @media (min-width: $tablet-width) {
      padding-left: 60px;
    }

    &::before {
      top: 1px;
      left: 1px;
      width: 30px;
      height: 30px;
      border: 1px solid $grey-form;
      border-radius: 50%;
      position: absolute;
      box-shadow: inset 0 0 0 9px #ffffff;
      content: "";

      @media (min-width: $tablet-width) {
        width: 40px;
        height: 40px;
        box-shadow: inset 0 0 0 11px #ffffff;
      }
    }
  }

  &--checkbox {
    position: relative;
    padding-left: 20.4%;
    padding-top: 2px;
    padding-bottom: 7px;

    @media (min-width: $tablet-width) {
      padding-left: 129px;
      padding-top: 5px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 59px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 6vw;
      width: 30px;
      height: 30px;
      border: 1px solid $grey-form;

      @media (min-width: $tablet-width) {
        width: 40px;
        height: 40px;
        left: 70px;
      }

      @media (min-width: $desktop-width) {
        left: 0;
      }
    }
  }

  &--email,
  &--phone {
    padding-right: 11px;
  }

  &--email {
    @media (min-width: $tablet-width) {
      padding-right: 18px;
    }
  }
}

.form__field {
  margin: 0;

  &--text {
    display: flex;
    align-items: center;
    padding-bottom: 14px;
    padding-left: 6%;
    padding-right: 20px;

    @media (min-width: $tablet-width) {
      padding-left: 9.3%;
      padding-right: 67px;
      padding-bottom: 20px;
    }

    @media (min-width: $desktop-width) {
      width: 570px;
      padding-left: 111px;
      padding-right: 80px;
    }
  }

  &--radio {
    padding-top: 24px;
    padding-left: 6%;

    @media (min-width: $tablet-width) {
      box-sizing: border-box;
      width: 630px;
      margin: 0 auto;
      padding-left: 28px;
      padding-top: 31px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 25px;
    }
  }

  &--tel {
    padding-bottom: 29px;
    position: relative;

    @media (min-width: $desktop-width) {
      padding-left: 0;
      padding-top: 4px;
      padding-bottom: 20px;
    }
  }

  &--email {
    position: relative;
  }

  &--additional {
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      width: 257px;
      padding-right: 86px;
      margin-bottom: 50px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 0;
      width: 324px;
    }
  }
}

.form__icon {
  position: absolute;

  &--mail {
    top: 17px;
    right: 35px;

    @media (min-width: $tablet-width) {
      right: 86px;
      top: 20px;
    }

    @media (min-width: $desktop-width) {
      top: 24px;
      right: 100px;
    }
  }

  &--phone {
    top: 14px;
    right: 32px;

    @media (min-width: $tablet-width) {
      right: 82px;
      top: 17px;
    }

    @media (min-width: $desktop-width) {
      right: 99px;
      top: 20px;
    }
  }
}

.form__info-container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin-bottom: 40px;
  }
}

.form__info-details {
  padding-top: 3px;
  padding-bottom: 9px;

  @media (min-width: $tablet-width) {
    margin-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form__target-container {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  padding-bottom: 23px;
  margin-bottom: 28px;
  padding-top: 1px;

  @media (min-width: $tablet-width) {
    width: 630px;
    min-height: 193px;
    padding-bottom: 0;
    padding-top: 2px;
    border: 1px solid #ededed;
    align-self: center;
  }

  @media (min-width: $desktop-width) {
    margin-top: 3px;
    align-self: baseline;
    margin-bottom: 0;
    min-height: 196px;
    box-sizing: border-box;
    width: 570px;
  }
}

.form__contacts-container {
  padding-top: 3px;

  @media (min-width: $tablet-width) {
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding-top: 0;
    margin-bottom: 47px;
  }
}

.form__input {
  &--text {
    font-family: $oswald;
    font-size: 16px;
    line-height: 18px;
    color: $greyish;
    text-transform: uppercase;
    width: 100%;
    padding-left: 15px;
    min-height: 41px;
    border: 1px solid #cdcdcd;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
      min-height: 48px;
      padding-left: 19px;
    }
  }
}

.form__input-radio {
  &:checked + .form__label--radio::before {
    background-color: $green;
  }
}

.form__input-checkbox {
  &:checked + .form__label--checkbox::before {
    background-image: url("../img/icon-tick.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px 17px;
  }
}

.form__title {
  font-family: $oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: $black;
  box-sizing: border-box;
  width: 63vw;
  margin: 0;
  padding-bottom: 30px;
  padding-left: 6%;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    width: 76.83vw;
    padding-left: 9%;
    padding-bottom: 72px;

    &::before {
      position: absolute;
      top: 22px;
      left: 0;
      width: 3.85vw;
      height: 3px;
      background-color: $green;
      content: "";

      @media (min-width: $desktop-width) {
        width: 70px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 109px;
  }

  &::after {
    content: "";
    height: 3px;
    background-color: $green;
    position: absolute;
    top: 14px;
    left: 221px;

    @media (min-width: $tablet-width) {
      top: 22px;
    }
  }

  &--contacts {
    &::after {
      width: 30.94vw;
      left: 69vw;

      @media (min-width: $tablet-width) {
        width: 19.02vw;
        left: 81vw;
      }

      @media (min-width: $desktop-width) {
        width: 777px;
        left: 663px;
      }
    }
  }

  &--comments {
    padding-bottom: 35px;

    @media (min-width: $tablet-width) {
      padding-bottom: 76px;
    }

    &::after {
      width: 49.38vw;
      left: 50.5vw;

      @media (min-width: $tablet-width) {
        width: 62.5vw;
        left: 37.5vw;
      }

      @media (min-width: $desktop-width) {
        width: 1111px;
        left: 329px;
      }
    }
  }

  &--additional {
    padding-bottom: 40px;

    @media (min-width: $tablet-width) {
      padding-bottom: 52px;
    }

    &::after {
      width: 42.5vw;
      left: 57.4vw;

      @media (min-width: $tablet-width) {
        width: 58.21vw;
        left: 41.8vw;
      }

      @media (min-width: $desktop-width) {
        width: 1078px;
        left: 362px;
      }
    }
  }
}


.form__comment {
  font-family: $oswald;
  font-size: 16px;
  line-height: 18px;
  color: $greyish;
  text-transform: uppercase;
  box-sizing: border-box;
  border: 1px solid $grey-form;
  width: 87.5vw;
  min-height: 150px;
  resize: none;
  margin-left: 6%;
  margin-bottom: 24px;
  padding-left: 15px;
  padding-top: 12px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 82.17vw;
    min-height: 174px;
    margin-left: 9.3%;
    padding-left: 17px;
    padding-top: 9px;
    margin-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    min-height: 174px;
    margin-left: 110px;
    padding-left: 18px;
    padding-top: 10px;
    margin-bottom: 63px;
  }
}

.form__legend {
  font-family: $arial;
  font-size: 14px;
  line-height: 16px;
  color: $greyish;
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 21px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    padding-left: 61px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 82px;
  }
}

.form__additional-container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 14px;
  }

  @media (min-width: $desktop-width) {
    width: 1300px;
    margin-left: 110px;
  }
}

.form__submit-container {
  @media (min-width: $tablet-width) {
    display: flex;
    margin-left: 70px;
    margin-top: 6px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
    margin-top: 14px;
  }
}
