.form {
  @media (min-width: $desktop-width) {
    overflow-x: hidden;
  }
}

.form__container {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-top: 31px;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
  }
}

.form__description {
  font-family: $oswald;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;
  width: 70.63vw;
  margin: 0;
  padding-bottom: 36px;
  padding-left: 6%;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 42.32vw;
    padding-left: 9.2%;
    padding-bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 40px;
    width: 100%;
    padding-right: 925px;
  }
}

.form__label {
  font-family: $oswald;
  font-size: 16px;
  line-height: 18px;
  color: $black-two;
  text-transform: uppercase;
  padding-right: 15px;
  white-space: nowrap;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  &--weight {
    @media (min-width: $tablet-width) {
      padding-right: 19px;
    }
  }

  &--radio {
    position: relative;
    padding-left: 46px;
    padding-top: 6px;

    @media (min-width: $tablet-width) {
      padding-left: 60px;
    }

    @media (min-width: $desktop-width) {
      &:hover {
        &::before {
          border: 1px solid #bababa;
        }
      }

      &:active {
        opacity: 0.3;
      }
    }

    &::before {
      top: 1px;
      left: 1px;
      width: 30px;
      height: 30px;
      border: 1px solid $grey-form;
      border-radius: 50%;
      position: absolute;
      box-shadow: inset 0 0 0 9px #ffffff;
      content: "";

      @media (min-width: $tablet-width) {
        width: 40px;
        height: 40px;
        box-shadow: inset 0 0 0 11px #ffffff;
      }
    }
  }

  &--checkbox {
    position: relative;
    padding-left: 20.4%;
    padding-top: 2px;
    padding-bottom: 7px;

    @media (min-width: $tablet-width) {
      padding-left: 129px;
      padding-top: 5px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 59px;

      &:hover {
        &::before {
          border-color: #bababa;
        }
      }

      &:active {
        opacity: 0.3;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 6vw;
      width: 30px;
      height: 30px;
      border: 1px solid $grey-form;

      @media (min-width: $tablet-width) {
        width: 40px;
        height: 40px;
        left: 70px;
      }

      @media (min-width: $desktop-width) {
        left: 0;
      }
    }
  }

  &--email,
  &--phone {
    padding-right: 11px;
  }

  &--email {
    @media (min-width: $tablet-width) {
      padding-right: 18px;
    }
  }
}

.form__field {
  margin: 0;

  &--text {
    display: flex;
    align-items: center;
    padding-bottom: 14px;
    padding-left: 6%;
    padding-right: 20px;

    @media (min-width: $tablet-width) {
      padding-left: 9.3%;
      padding-right: 67px;
      padding-bottom: 20px;
    }

    @media (min-width: $desktop-width) {
      width: 570px;
      padding-left: 41px;
      padding-right: 80px;
    }
  }

  &--radio {
    padding-top: 24px;
    padding-left: 6%;

    @media (min-width: $tablet-width) {
      box-sizing: border-box;
      width: 630px;
      margin: 0 auto;
      padding-left: 28px;
      padding-top: 31px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 25px;
    }
  }

  &--tel {
    padding-bottom: 26px;
    position: relative;

    @media (min-width: $desktop-width) {
      padding-right: 0;
      padding-left: 0;
      padding-top: 4px;
      padding-bottom: 20px;
    }
  }

  &--email {
    position: relative;

    @media (min-width: $desktop-width) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &--additional {
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      min-width: 305px;
      padding-right: 38px;
      margin-bottom: 50px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 0;
      min-width: 245px;
    }
  }
}

.form__icon {
  position: absolute;

  &--mail {
    top: 17px;
    right: 35px;

    @media (min-width: $tablet-width) {
      right: 86px;
      top: 20px;
    }

    @media (min-width: $desktop-width) {
      top: 24px;
      right: 20px;
    }
  }

  &--phone {
    top: 14px;
    right: 32px;

    @media (min-width: $tablet-width) {
      right: 82px;
      top: 17px;
    }

    @media (min-width: $desktop-width) {
      right: 18px;
      top: 20px;
    }
  }
}

.form__info-container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    max-width: $desktop-width;
    margin: 0 auto;
    margin-bottom: 37px;
    flex-wrap: wrap;
  }
}

.form__info-details {
  padding-top: 3px;
  padding-bottom: 9px;

  @media (min-width: $tablet-width) {
    margin-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form__target-container {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  padding-bottom: 23px;
  margin-bottom: 25px;
  padding-top: 1px;

  @media (min-width: $tablet-width) {
    width: 630px;
    min-height: 193px;
    padding-bottom: 0;
    padding-top: 2px;
    border: 1px solid #ededed;
    align-self: center;
  }

  @media (min-width: $desktop-width) {
    margin-top: 3px;
    align-self: baseline;
    margin-bottom: 0;
    min-height: 196px;
    box-sizing: border-box;
    width: 570px;
  }
}

.form__contacts-container {
  &::before {
    content: "";
    position: relative;
    top: 17px;
    display: block;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(90deg, $white, $white, $green 221px);

    @media (min-width: $tablet-width) {
      top: 25px;
      background-image: linear-gradient(90deg, $green 10%, $green 221px);
    }

    @media (min-width: $desktop-width) {
      top: 24px;
      background-image: linear-gradient(90deg, $green 10%, $green 221px);
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.form__contacts-wrapper {
  @media (min-width: $tablet-width) {
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding-top: 0;
    margin: 0 auto;
    margin-bottom: 43px;
    justify-content: space-around;
    max-width: $desktop-width;
    position: relative;
    flex-direction: column;
  }
}

.form__contacts-fields {
  @media (min-width: $desktop-width) {
    display: flex;
    padding: 0 41px;
    justify-content: space-between;
  }
}

.form__comment-container {
  &::before {
    content: "";
    position: relative;
    top: 17px;
    display: block;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(90deg, $white, $white, $green 155px);

    @media (min-width: $tablet-width) {
      top: 25px;
      background-image: linear-gradient(90deg, $green 10%, $green 289px);
    }

    @media (min-width: $desktop-width) {
      top: 25px;
      background-image: linear-gradient(90deg, $green 10%, $green 260px);
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.form__comment-wrapper {
  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    margin: 0 auto;
  }
}

.form__input {
  &--text {
    font-family: $oswald;
    font-size: 16px;
    line-height: 18px;
    color: $greyish;
    text-transform: uppercase;
    width: 100%;
    padding-left: 15px;
    min-height: 41px;
    border: 1px solid rgba($grey-form, 0.6);

    &:hover {
      border: 1px solid rgba($grey-form, 1);
    }

    &:focus {
      outline: 2px solid $greyish;
    }

    &:invalid {
      outline: 2px solid #ff8282;
    }

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
      min-height: 48px;
      padding-left: 19px;
    }
  }

  &--phone,
  &--email {
    @media (min-width: $desktop-width) {
      padding-left: 22px;
    }
  }
}

.form__input-radio {
  &:checked + .form__label--radio::before {
    background-color: $green;
  }
}

.form__input-checkbox {
  &:checked + .form__label--checkbox::before {
    background-image: url("../img/icon-tick.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px 17px;
  }
}

.form__input--email:hover + .form__icon--mail,
.form__input--phone:hover + .form__icon--phone,
.form__input--email:focus + .form__icon--mail,
.form__input--phone:focus + .form__icon--phone {
  fill: $green;
}

.form__input--email:invalid + .form__icon--mail,
.form__input--phone:invalid + .form__icon--phone {
  fill: #ff8282;
}

.form__input--email::-ms-clear,
.form__input--phone::-ms-clear {
  display: none;
}

.form__title {
  font-family: $oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: $black;
  box-sizing: border-box;
  width: 202px;
  margin: 0;
  padding-bottom: 33px;
  margin-left: 6%;
  background-color: $white;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    width: 593px;
    padding-left: 5%;
    padding-bottom: 75px;
    margin-left: 3.9%;
  }

  @media (min-width: $desktop-width) {
    padding-left: 39px;
    margin-left: 0;
    padding-bottom: 73px;
    padding-right: 42px;
  }

  &--comments {
    padding-bottom: 35px;
    width: 143px;
    padding-right: 24px;

    @media (min-width: $tablet-width) {
      padding-bottom: 76px;
      width: 259px;
      padding-right: 39px;
    }
  }

  &--additional {
    padding-bottom: 40px;
    width: 166px;
    padding-right: 25px;

    @media (min-width: $tablet-width) {
      padding-bottom: 52px;
      width: 291px;
      padding-right: 41px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 0;
    }
  }
}


.form__comment {
  font-family: $oswald;
  font-size: 16px;
  line-height: 18px;
  color: $greyish;
  text-transform: uppercase;
  box-sizing: border-box;
  border: 1px solid $grey-form;
  width: 87.5vw;
  min-height: 150px;
  resize: none;
  margin-left: 6%;
  margin-bottom: 21px;
  padding-left: 15px;
  padding-top: 12px;

  &:focus {
    outline: 2px solid $greyish;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 82.17vw;
    min-height: 174px;
    margin-left: 9.3%;
    padding-left: 17px;
    padding-top: 9px;
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    min-height: 174px;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 18px;
    padding-top: 10px;
    margin-bottom: 60px;
    overflow: hidden;
  }
}

.form__legend {
  font-family: $arial;
  font-size: 14px;
  line-height: 16px;
  color: $greyish;
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 21px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    padding-left: 61px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 82px;
  }
}

.form__additional-container {
  &::before {
    content: "";
    position: relative;
    top: 17px;
    display: block;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(90deg, $white, $white, $green 155px);

    @media (min-width: $tablet-width) {
      top: 25px;
      background-image: linear-gradient(90deg, $green 10%, $green 322px);
    }

    @media (min-width: $desktop-width) {
      top: 25px;
      background-image: linear-gradient(90deg, $green 10%, $green 292px);
    }
  }
}

.form__additional-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

.form__additional-checkboxes {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 13px;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 40px 0 40px;
    justify-content: space-between;
    width: 100%;
  }
}

.form__submit-container {
  @media (min-width: $tablet-width) {
    display: flex;
    margin-left: 70px;
    margin-top: 6px;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    margin: 0 auto;
    margin-top: 14px;
  }
}
