.header__wrapper {
  position: relative;
  min-width: $mobile-width;
  max-width: $desktop-width;
  border-bottom: 1px solid $border-gray;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

.header__logo-image {
  display: block;
  width: 191px;
  height: 39px;
  padding-top: 11px;
  padding-bottom: 15px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 59px;
    padding-top: 23px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 203px;
    height: 60px;
    padding-top: 53px;
    margin-left: 4%;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.header__toggle {
  position: absolute;
  right: 19px;
  top: 23px;
  width: 25px;
  height: 19px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon-mobile-menu.svg");

  &--hidden {
    display: none;
  }

  &--close {
    width: 19px;
    background-image: url("../img/icon-close.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
