.main-nav {
  font-family: $oswald;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;

  &--hidden {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    display: block;
    padding-top: 13px;
    padding-right: 31px;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    padding-top: 43px;
    padding-right: 110px;
    z-index: 1;
  }
}

.main-nav__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: flex;
    min-width: 440px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    min-width: 480px;
  }
}

.main-nav__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 65px;
  border-bottom: 1px solid $border-gray;

  &:first-child {
    border-top: 1px solid $border-gray;
  }

  &:last-child {
    border-bottom: none;
  }

  @media (min-width: $tablet-width) {
    border: none;
    min-height: 39px;

    &:first-child {
      border-top: 1px solid transparent;
    }

    &--current {
      border-bottom: 2px solid $green;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 43px;

    &--current {
      border-bottom: 2px solid $green;
    }

    &--current-index {
      border-bottom: 2px solid $white;
    }
  }
}

.main-nav__link {
  color: $black;

  &--index {
    @media (min-width: $tablet-width) {
      color: $black-two;
    }

    @media (min-width: $desktop-width) {
      color: $white;
    }
  }
}
