.real-example {
  margin-top: 46px;
  background-color: $grey;
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-top: 25px;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
    background-image: linear-gradient(to top, $grey-index 75.7%, $white 0);
  }
}

.real-example__wrapper {
  @media (min-width: $desktop-width) {
    position: relative;
    margin: 0 auto;
    max-width: $desktop-width;
    padding-bottom: 69px;
  }
}

.real-example__title {
  font-family: $oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: $black;
  margin: 0;
  padding-left: 6.1%;
  padding-top: 17px;
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    padding-left: 3.9%;
    padding-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 40px;
    padding-top: 13px;
    padding-bottom: 75px;
  }
}

.real-example__description {
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  color: $greyish;
  margin: 0;
  padding-left: 6.1%;
  padding-right: 23px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-left: 3.9%;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 431px;
    padding-right: 0;
    padding-left: 40px;
    padding-top: 71px;
  }
}

.real-example__results {
  display: flex;
  justify-content: space-between;
  margin-left: 6.1%;
  margin-right: 6.1%;
  margin-top: 25px;
  margin-bottom: 34px;
  flex-wrap: wrap;
  align-items: baseline;

  @media (min-width: $tablet-width) {
    margin-left: 3.8%;
    margin-right: 4%;
    justify-content: space-between;
    margin-top: 54px;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    width: 370px;
    margin: 0;
    margin-top: 70px;
    margin-left: 40px;
    justify-content: flex-start;
  }
}

.real-example__kilo {
  font-family: $oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: $black;
  margin: 0;
  position: relative;
  width: 122px;
  min-height: 41px;
  text-align: center;
  padding-top: 13px;
  margin-right: 32px;
  border: 1px solid $grey-form;
  border-radius: 3px;

  &::after {
    content: "снижение веса";
    font-family: $arial;
    font-size: 12px;
    line-height: 12px;
    color: $greyish;
    text-transform: lowercase;
    position: absolute;
    width: 82px;
    left: 19px;
    bottom: -16px;
    background-color: $grey;

    @media (min-width: $tablet-width) {
      font-size: 14px;
      line-height: 14px;
      background-color: $white;
      width: 113px;
      left: 23px;
      bottom: -7px;
    }

    @media (min-width: $desktop-width) {
      background-color: $grey-index;
    }
  }

  @media (min-width: $tablet-width) {
    width: 162px;
    font-size: 30px;
    line-height: 37px;
    min-height: 56px;
    margin-right: 5.3%;
  }

  @media (min-width: $desktop-width) {
    margin-right: 40px;
  }
}

.real-example__days-spent {
  font-family: $oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: $black;
  margin: 0;
  position: relative;
  width: 122px;
  min-height: 41px;
  text-align: center;
  padding-top: 13px;
  border: 1px solid $grey-form;
  border-radius: 3px;

  &::after {
    content: "затрачено времени";
    font-family: $arial;
    font-size: 12px;
    line-height: 12px;
    color: $greyish;
    text-transform: lowercase;
    position: absolute;
    width: 87px;
    left: 17px;
    bottom: -16px;
    background-color: $grey;

    @media (min-width: $tablet-width) {
      font-size: 14px;
      line-height: 14px;
      background-color: $white;
      width: 142px;
      left: 10px;
      bottom: -7px;
    }

    @media (min-width: $desktop-width) {
      background-color: $grey-index;
    }
  }

  @media (min-width: $tablet-width) {
    width: 162px;
    font-size: 30px;
    line-height: 37px;
    min-height: 56px;
    margin-right: 23.2%;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.real-example__food-cost {
  font-family: $oswald;
  font-size: 14px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;
  text-align: center;
  width: 320px;
  margin: 34px auto 0 auto;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    text-align: right;
    margin: 0;
    width: 174px;
    padding-top: 7px;
    line-height: 29px;
  }

  @media (min-width: $desktop-width) {
    width: 330px;
    padding-top: 56px;
    text-align: left;
  }
}

.real-example__price {
  @media (min-width: $desktop-width) {
    padding-left: 59px;
  }
}

.real-example__results-pictures {
  @media (min-width: $tablet-width) {
    padding-bottom: 68px;
    background-image: linear-gradient(to top, $grey-index 73.4%, $white 0%);
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
    background-image: none;
  }
}

.real-example__image-before {
  display: block;
  margin: 34px auto 32px auto;

  @media (min-width: $tablet-width) {
    width: 690px;
    height: 517px;
    margin-top: 88px;
    margin-bottom: 14px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    position: absolute;
    top: -42px;
    right: 0;
  }
}

.real-example__image-after {
  display: block;
  margin: 34px auto 32px auto;

  @media (min-width: $tablet-width) {
    width: 690px;
    height: 517px;
    margin-top: 88px;
    margin-bottom: 14px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    position: absolute;
    top: -42px;
    right: 0;
  }
}

.real-example__slider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 69px;
    right: 35px;
  }
}

.real-example__before-btn,
.real-example__after-btn {
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    border-bottom: 1px dotted #cdcdcd;
    line-height: 29px;
  }

  @media (min-width: $desktop-width) {
    &:hover {
      border-bottom: 1px solid $black;
    }
  }
}

.real-example__slider-line {
  position: relative;
  width: 25.63vw;
  height: 12px;
  margin: 0 18px;
  background-color: $white;
  border: 1px solid $grey-form;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    &::before {
      box-shadow: 0 0 0 1px $grey-form, 0 9px 10px 0 $grey-form;
    }
  }

  &:active {
    &::before {
      box-shadow: 0 0 0 2px $green, 0 2px 10px 0 $green;
    }
  }

  &::before {
    position: absolute;
    top: 3px;
    left: 5%;
    content: "";
    width: 10.94vw;
    height: 6px;
    background-color: $green;
    border-radius: 3px;

    @media (min-width: $tablet-width) {
      top: -12px;
      left: 0;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      border: 12px solid $white;
      box-shadow: 0 0 0 1px $grey-form, 0 0 10px 0 $grey-form;
    }
  }

  @media (min-width: $tablet-width) {
    width: 55.6vw;
    height: 6px;
    margin: 0 25px;
    background-color: #dcdcdc;
    border: none;
  }

  @media (min-width: $tablet-width) {
    width: 428px;
  }
}

.real-example__slider-line-after {
  &::before {
    left: 51%;

    @media (min-width: $tablet-width) {
      left: 400px;
    }
  }
}

.real-example__show {
  display: block;
}

.real-example__hidden {
  display: none;
}
