@import "global.scss";
@import "variables.scss";
@import "mixins.scss";
@import "blocks/header.scss";
@import "blocks/main-nav.scss";
@import "blocks/banner.scss";
@import "blocks/catalog.scss";
@import "blocks/product.scss";
@import "blocks/button.scss";
@import "blocks/additional-products.scss";
@import "blocks/additional-item.scss";
@import "blocks/form.scss";
@import "blocks/features.scss";
@import "blocks/how-it-works.scss";
@import "blocks/real-example.scss";
