$oswald: "Oswald", "Arial", sans-serif;
$arial: "Arial", sans-serif;
$black: #111111;
$black-two: #222222;
$white: #ffffff;
$greyish: #444444;
$green: #68b738;
$border-gray: #ececec;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
